<section data-ng-controller="RecipesDetailController" data-ng-init="loadRecipeDetails()">
    <main class="main" role="main">
        <!--wrap-->
        <div class="wrap clearfix">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <ul>
                    <li><a href="index.html" title="Home">Home</a></li>
                    <li><a href="#" title="Recipes">Recipes</a></li>
                    <li><a href="recipes.html" title="Cocktails">Deserts</a></li>
                    <li>Recipe</li>
                </ul>
            </nav>
            <!--//breadcrumbs-->

            <!--row-->
            <div class="row">
                <header class="s-title">
                    <h1>{{data.recipeBean.title}}</h1>
                    <p><a href="#"><img src="images/cupcakes.jpg" alt="" width="1200" height="450" /></a></p>
                </header>
                <!--content-->
                <section class="content three-fourth">
                    <!--recipe-->
                        <div class="recipe">
                            <div class="row">
                                <!--two-third-->
                                <article class="full-width">
                                    
                                    <div class="intro"><p><strong>{{data.recipeBean.details.description.short}}</strong></p> <p>{{data.recipeBean.details.description.long}}</p><hr />
                                    <div class="instructions"><ol>
                                            <li ng-repeat="instructionStep in data.recipeBean.details.directions">{{instructionStep}}</li>
                                        </ol></div><hr />
                                        <div><article class="one-half">
                                    <dl class="basic">
                                        <dt ng-repeat-start="(stat, val) in data.recipeBean.details.stats">{{stat}}</dt>
                                        <dd ng-repeat-end>{{val}}</dd>
                                    </dl>

                                    <dl class="user">
                                        <dt>Category</dt>
                                        <dd>{{data.recipeBean.category}}</dd>
                                        <dt>Posted by</dt>
                                        <dd>{{data.recipeBean.monitor.author}}</dd>
                                    </dl></article>
                                    <article class="one-half">
                                    <dl class="ingredients">
                                        <dt ng-repeat-start="(ing, val) in data.recipeBean.details.ingredients">{{ing}}</dt>
                                        <dd ng-repeat-end>{{val}}</dd>
                                    </dl>
                                </article></div>
                                    </div>
                                    <div >

                                    </div>
                                </article>
                                <!--//two-third-->

                                <!--one-third-->

                                <!--//one-third-->
                            </div>
                        </div>
                        <!--//recipe-->
                            
                        <!--comments-->
                        <div data-ng-controller="CommentsController" ng-init="getCommentsForRecipe()" class="comments" id="comments">
                            <h2>5 comments </h2>
                            <ol class="comment-list">
                                <!--comment-->
                                <li ng-repeat="cmnt in data.comments" class="comment depth-1">
                                    <div class="avatar"><a href="my_profile.html"><img src="images/avatar1.jpg" alt="" /></a></div>
                                    <div class="comment-box">
                                        <div class="comment-author meta"> 
                                            <strong>{{cmnt.author.name}}</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                        </div>
                                        <div class="comment-text">
                                            <p>{{cmnt.text}}</p>
                                        </div>
                                    </div> 
                                </li>
                                <!--//comment-->
                                
                                <!--comment-->
                                <!--li class="comment depth-2">
                                    <div class="avatar"><a href="my_profile.html"><img src="images/avatar1.jpg" alt="" /></a></div>
                                    <div class="comment-box">
                                        <div class="comment-author meta"> 
                                            <strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                                        </div>
                                        <div class="comment-text">
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                                        </div>
                                    </div> 
                                </li>
                                <!--//comment-->                                
                            </ol>
                        </div>
                        <!--//comments-->
                        
                        <!--respond-->
                        <div data-ng-controller="CommentsController" class="comment-respond" id="respond">
                            <h2>Leave a reply</h2>
                            <div class="container">
                                <p><strong>Note:</strong> Comments on the web site reflect the views of their authors, and not necessarily the views of the I-BoostUp internet portal. Requested to refrain from insults, swearing and vulgar expression. We reserve the right to delete any comment without notice explanations.</p>
                                <p>Your email address will not be published. Required fields are signed with <span class="req">*</span></p>
                                <form ng-submit="addCommentForRecipe()" name="createCommentForm" id="createCommentForm">
                                    <div class="f-row">
                                        <div class="third">
                                            <input type="text" placeholder="Your name" id="commentAuthorName" name="commentAuthorName" data-ng-model="data.commentAuthorName" />
                                            <span class="req">*</span>
                                        </div>
                                        
                                        <div class="third">
                                            <input type="email" placeholder="Your email" id="commentAuthorEmail" name="commentAuthorEmail" data-ng-model="data.commentAuthorEmail" />
                                            <span class="req">*</span>
                                        </div>
                                        
                                        <div class="third">
                                            <input type="text" placeholder="Your website" id="commentAuthor" name="commentAuthor" data-ng-model="data.commentAuthor" />
                                        </div>
                                    
                                    </div>
                                    <div class="f-row">
                                        <textarea id="commentText" name="commentText" data-ng-model="data.commentText"></textarea>
                                    </div>
                                    
                                    <div class="f-row">
                                        <div class="third bwrap">
                                            <input type="submit" value="Submit comment" />
                                        </div>
                                    </div>

                                    <div class="bottom">
                                        <div class="f-row checkbox">
                                            <input type="checkbox" id="ch1" />
                                            <label for="ch1">Notify me of replies to my comment via e-mail</label>
                                        </div>
                                        <div class="f-row checkbox">
                                            <input type="checkbox" id="ch2" />
                                            <label for="ch2">Notify me of new articles by email.</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--//respond-->
                </section>
                <!--//content-->
                
                <!--right sidebar-->
                <aside class="sidebar one-fourth">
                    <div class="widget nutrition">
                        <h3>Nutrition facts <span>(per serving)</span></h3>
                        <table>
                            <tr ng-repeat="(nutr, val) in data.recipeBean.details.nutrition_value">
                                <td>{{nutr}}</td>
                                <td>{{val}}</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="widget share">
                        <ul class="boxed">
                            <li class="light"><a href="#" title="Facebook"><i class="fa fa-facebook"></i> <span>Share on Facebook</span></a></li>
                            <li class="medium"><a href="#" title="Twitter"><i class="fa fa-twitter"></i> <span>Share on Twitter</span></a></li>
                            <li class="dark"><a href="#" title="Favourites"><i class="fa fa-heart"></i> <span>Add to Favourites</span></a></li>
                        </ul>
                    </div>
                    
                    <div class="widget members">
                        <h3>Members who liked this recipe</h3>
                        <ul class="boxed">
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar1.jpg" alt="" /><span>Kimberly C.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar2.jpg" alt="" /><span>Alex J.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar3.jpg" alt="" /><span>Denise M.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar9.jpg" alt="" /><span>Jason H.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar8.jpg" alt="" /><span>Jennifer W.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar4.jpg" alt="" /><span>Anabelle Q.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar7.jpg" alt="" /><span>Thomas M.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar5.jpg" alt="" /><span>Michelle S.</span></a></div></li>
                            <li><div class="avatar"><a href="my_profile.html"><img src="images/avatar6.jpg" alt="" /><span>Bryan A.</span></a></div></li>
                        </ul>
                    </div>
                </aside>
                <!--//right sidebar-->
            </div>
            <!--//row-->
        </div>
        <!--//wrap-->
    </main>
    <!--//main-->
</section>