    <!--header-->
    <header class="head" role="banner">
        <!--wrap-->
        <div class="wrap clearfix">
            <a href="index-2.html" title="I-BoostUp" class="logo"><img src="images/logo.png" alt="I-BoostUp logo" width="163" height="45" /></a>
            
            <nav class="main-nav" role="navigation" id="menu">
                <ul>
                    <li class="current-menu-item"><a href="index-2.html" title="Home"><span>Home</span></a></li>
                    <li><a href="recipes.html" title="Recipes"><span>Recipes</span></a>
                        
                    </li>
                    <li><a href="blog.html" title="Blog"><span>Blog</span></a>
                        
                    </li>
                    <li><a href="#" title="Pages"><span>Pages</span></a>
                        
                    </li>
                    <li><a href="#" title="Features"><span>Features</span></a>
                        
                    </li>
                    <li><a href="contact.html" title="Contact"><span>Contact</span></a></li>
                
                </ul>
            </nav>
            
            <nav class="user-nav" role="navigation">
                <ul>
                    <li class="light"><a href="find_recipe.html" title="Search for recipes"><i class="icon icon-iboostup_search"></i> <span>Search for recipes</span></a></li>
                    
                    <li class="dark"><a href="submit_recipe.html" title="Submit a recipe"><i class="icon icon-iboostup_fork-spoon"></i> <span>Submit a recipe</span></a></li>
                </ul>
            </nav>
        </div>
        <!--//wrap-->
    </header>
    <!--//header-->
