<div class="col-md-12">
    <div ng-controller="HomeController">
        <div class="well" style="padding-bottom: 40px">
            <div class="row">
                <ul id="hexGrid">
                    <li class="hex" ng-repeat="rec in data.featuredRecipes">
                        <a class="hexIn" href="#">
                            <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
                            <h1>rec.title</h1>
                            <p>rec.description</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>