<script type="text/css">
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</script>

<section>
    <div class="page-header" data-ng-controller="EditCommentsController">
        <h1>Edit/Find Recipe</h1>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="findComments()" name="findRecipeForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="description">Recipe ID</label>
                    <div class="controls">
                        <input type="text" name="description" data-ng-model="data.recipeId" id="description" class="form-control" cols="30" rows="10" placeholder="System ID of the recipe"></input>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Find">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-12">
        <div class="row">
            <span>Total results: {{data.retrievedCommentsCount}}</span>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Comment message</th>
                        <th>Created date</th>
                        <th>Rating</th>
                        <th>Status</th>
                        <th>Comment Author</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cmnt in data.retrievedComments">
                    <td>{{ cmnt.text }}</td>
                    <td>{{ cmnt.createdDate }}</td>
                    <td>{{ cmnt.rating }}</td>
                    <td>{{ cmnt.isApproved }}</td>
                    <td>{{ cmnt.author }}</td>
                    <td><span class="glyphicon glyphicon-remove" ng-click="deleteComment(cmnt.id)"></span>Delete <span class="glyphicon glyphicon-edit" ng-click="getEditCommentModal(cmnt.id)"></span>Edit</td>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>

        <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="commentEditModel" tabindex="-1" role="dialog" aria-labelledby="commentEditModel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="commentEditModel">{{data.editableComment.id}}</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</section>

